/*display breadcrumbs on one line*/
.breadcrumb li {
display: inline;
}

.breadcrumb li:not(:first-child)::before {
    content: ">";
  }

  a:hover {
    color: red;
    text-decoration: none
    
  }